@import "../../../styles/variables";
@import "../../../styles/mixins";

.navbar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.navbar div {
  padding: 0 20px;
  border-right: 1px solid $secondary;
}

.navbar div:last-child {
  border-right: none;
}

.title {
  color: $secondary;
  text-decoration: none;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  transition: color $transition;
  &:hover {
    color: $primary;
  }
}
